@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&family=Poppins:ital,wght@1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
    overflow-x: hidden;
  
  }
  
  #navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowarp;
    align-content: normal;
    justify-content: flex-end;
    align-items: normal;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #1f1e1d;
  }

  nav a {
    display: block;
    color: white;
    text-shadow: 1px 1px black;
    font-size: 1rem;
    padding: 1rem;
    background-color: #1f1e1d;
    opacity: 1.0;
  }

  a:link, a:visited {
    background-color: #1f1e1d;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  a:hover, a:active {
    background-color: #908f94;
  }

  nav ul {
    display: flex;
    list-style: none;
  }

  nav li {
    padding-left: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
  }

  #logo {
    position: relative; left: -600px; top: -150px;
  }

  #intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    border: 1px solid gray;
    padding: 8px;
    background-image: url(images/white-home.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
  }

  #name {
    text-align: center;
    text-transform: uppercase;
    color: #f7f6f7;
    position: relative; top: -75px;
    font-size: 45px;
    text-shadow: 3px 3px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  #about, #pitch {
    box-sizing: border-box;
    width: 70%;
    text-indent: 10px;
    text-align: justify;
    letter-spacing: 2px;
    font-size: 21px;
    padding: 30px 90px 75px 90px;
    margin-left: 70px;
    margin-right: 70px; 
    border: 3px solid #1f1e1d;
    background-color: #f7f6f7;
    border-radius: 10px;
    opacity: 0.7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-shadow: 1px 1px black;
  }

  #photos {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    border: 1px solid gray;
    background-color: #86a7a6;
  }

  .slideShow {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  .mySlides {
    display: none; 
    height: 500px;
    width: 800px;
    
  }

  #slide {
    height: 500px;
    width: 800px;
    object-fit: fill;
    overflow: hidden;
  }

  #imgNum {
    color: #f2f2f2;
    font-size: 19px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    text-shadow: 1px 1px black;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .prev {
    position: absolute; left: -1px;
  }
  .next {
    position: absolute; right: -1px;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  #dot-div {
    background-color: #86a7a6;
  }
  
  .dot {
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  #outro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    border: 1px solid gray;
    padding: 8px;
    background-image: url(images/geo-pattern.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .linkToCall {
    position: relative; top: 60px;
    background-color: #f0efef;
    border: 1px solid #1f1e1d;
    font-size: 20px;
    padding: 15px 32px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
  }

  .linkToCall:hover {
    background-color: #13439c;
  }

  #socials {
    background-color: #1f1e1d;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
  }

  #footer-item {
    
  }
  .services {
    background-color: #86a7a6;
  }

  .prices {
    background-color: #578d6e;
  }

  .reviews {
    background-color: #86a7a6;
  }