@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&family=Poppins:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    /*border: 1px solid red; */
    overflow-x: hidden;
  
  }

  /* ----------- TOP OF ALL PAGES ----------- */ 
  #navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowarp;
    align-content: normal;
    justify-content: flex-end;
    align-items: normal;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #1f1e1d;
  }

  nav a {
    display: block;
    color: white;
    text-shadow: 1px 1px black;
    font-size: 1rem;
    padding: 1rem;
    background-color: #1f1e1d;
    opacity: 1.0;
  }

  nav a:link, nav a:visited, footer a:link, footer a:visited {
    background-color: #1f1e1d;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  nav a:hover, nav a:active, footer a:hover, footer a:active {
    background-color: #908f94;
  }

  nav ul {
    display: flex;
    list-style: none;
  }

  nav li {
    padding-left: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
  }

  #logo {
    position: relative; left: -600px; top: -150px;
  }

  /* --------------- HOMEPAGE AND INDEX.HTML PAGE ----------------- */ 

  #intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    border: 1px solid gray;
    padding: 8px;
    background-image: url(images/white-home.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
  }

  #name {
    text-align: center;
    text-transform: uppercase;
    color: #f7f6f7;
    position: relative; top: -65px;
    font-size: 45px;
    text-shadow: 3px 3px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }

  #about, #pitch {
    box-sizing: border-box;
    width: 70%;
    text-indent: 10px;
    text-align: justify;
    letter-spacing: 2px;
    font-size: 21px;
    padding: 30px 90px 75px 90px;
    margin-left: 70px;
    margin-right: 70px; 
    border: 3px solid #1f1e1d;
    background-color: #f7f6f7;
    border-radius: 10px;
    opacity: 0.9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-shadow: 1px 1px black;
  }

  .imgTitle {
    position: relative; top: 40px;
    font-family: 'Merriweather', serif;
    text-shadow: 3px 3px black;
    color: #ffffff;
    font-size: 40px;
  }

  #photos {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    border: 1px solid gray;
    background-color: #86a7a6;
    background-image: url(images/lightblue-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .slideShow {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  .mySlides {
    display: none; 
    height: 500px;
    width: 1000px;
    overflow-y: hidden;
  }

  #slide {
    height: 500px;
    width: 800px;
    object-fit: fill;
    overflow: hidden;
  }

  #imgNum {
    color: #f2f2f2;
    font-size: 19px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    text-shadow: 1px 1px black;
    background-color: rgb(31, 30, 29, .5);
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .prev {
    position: absolute; left: -1px;
  }
  .next {
    position: absolute; right: -1px;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  #dot-div {
    background-color: #7bacb0;
    position: relative; top: -65px; left: 610px;
    width: 170px;
  }
  
  .dot {
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  #outro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    border: 1px solid gray;
    padding: 8px;
    background-image: url(images/paintOptions-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .linkToCall {
    position: relative; top: 60px;
    background-color: white;
    border: 1px solid #1f1e1d;
    font-size: 20px;
    padding: 15px 32px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
  }

  .linkToCall:hover {
    color: white;
    border: 1px solid black;
    background-color: black;
    box-shadow: 0 12px 16px 0 #0000003d, 0 17px 50px 0 #00000030;
  }

  .linkToCall:active {
    background-color: #17181f;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .linkToCall:visited, .linkToCall:link {
    text-decoration: none;
    color: black;
    background-color: white;
  }

  #socials {
    background-color: #1f1e1d;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
  }
  
  .footerLink {
    position: relative; left: 450px;
    margin: 0 20px;
    font-size: larger;
    text-shadow: 1px 1px black;
  }

  /* ------------- SERVICE INFO PAGE -------------- */ 

  .services {
   background-image: url(images/whitebg.jpg); 
   background-size: cover;
   background-repeat: no-repeat; 
   }

  #serviceTitle {
    text-align: center;
    text-transform: uppercase;
    color: black;
    position: relative; top: -75px;
    font-size: 45px;
    text-shadow: 3px 3px #f7f6f7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 180px;
  }


  .wwd {
    background-color: rgb(255, 255, 255, 0.8);
    border: 1px solid black;
    height: 150px;
    width: 250px;
    border-radius: 10px;
    /* margin-bottom: 10px;
    margin-top: 80px;
    float: left;
    margin-left: 69px;
    position: relative; top: -50px;
    padding: 10px; */
    display: grid;
    grid-template: 10px / 20px 20px 20px ;
  
  }

  .caption {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 400;
    font-size: 20px; 
    position: relative; 
  }

  .subtitle {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 35px;
    display: grid; 
    grid-column: 20px 20px 20px 20px;
    grid-row: 20px 20px;
  }

 /*  #subT1 {
    position: relative; left: 110px; top: -10px; 
  }

  #subT2 {
    position: relative; top: -55px; left: -120px;
  }

  #subT3 {
    position: relative; top: -100px; left: -320px;
  }

  #subT4 {
    position: relative; top: -145px; left: -10px;
  }

  #interiorImg, #exteriorImg, #kitchenImg{
    float: left;
    position: relative; left: -200px; top: 300px;
    
  }

  #interiorImg {
    position: relative; left: -240px; top: 30px;
  }

  #pressureImg {
    position: relative; left: -40px; top: -105px;
  }

  #exterior {
    position: relative; left: -220px; top: 250px;
  }

  #exteriorImg {
    position: relative; left: -470px; top: -15px;
  }

  #cabinets {
    position: relative; left: 700px; top: -50px;
  }

  #kitchenImg {
    position: relative; left: 450px; top: -315px;
  }
  
  #interior {
    position: relative; top: 300px; left: 10px;
  }

  #pressureWash {
    position: relative; top: -50px; left: 465px;
  }
*/

  #costInfo {
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    text-indent: 10px;
    text-align: justify;
    letter-spacing: 2px;
    font-size: 25px;
    padding: 70px 400px 50px 400px;
    margin-left: 70px;
    margin-right: 70px; 
    /* border: 3px solid #1f1e1d; */
    background-color: #ffffff;
    /* border-radius: 10px; 
    opacity: 0.7; */
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px black;
    margin-bottom: 150px;
    position: relative; left: -70px;
  }

  .prices {
    background-image: url(images/Blue-Background.jpg); 
    background-repeat: no-repeat;
    background-size: cover; 
  }

  #priceTitle {
    text-align: center;
    text-transform: uppercase;
    color: white;
    position: relative; top: -75px;
    font-size: 45px;
    text-shadow: 3px 3px rgb(4, 4, 4);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 130px;
  }

  #paintBorder {
    position: relative; top: -170px;
  }

  #paintBorder01 {
    position: relative; top: -540px;
  }

  .reviews {
    background-color: #86a7a6;
    background-image: url(images/brush-strokes.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
  }

  #reviewTitle {
    text-align: center;
    text-transform: uppercase;
    color: black;
    position: relative; top: -40px;
    font-size: 40px;
    text-shadow: 3px 3px #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 130px;
  }

  .review-containter {
  }

  .review {
    background-color: #ffffff;
    border: 1px solid black;
    height: 250px;
    width: 250px;
    border-radius: 10px;
    margin-bottom: 150px;
    margin-top: 80px;
    float: left;
    margin-left: 85px;
  }

  #review2 {
    position: relative; 
  }

  #review3 {
    position: relative; 
  }

  #review4 {
    position: relative; 
  }

  #todd, #jerry, #henry, #noah {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 1px 1px black;
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }


  .checked {
    color: gold;
  }

  .stars {
    margin-left: 20px;
    margin-top: 50px;
  }

  /* -------------- LOCATION INFO PAGE ------------ */ 

  .locations {
    background-image: url(images/skylineCity-bg.jpg); 
  }

  .localTitle {
    text-align: center;
    text-transform: uppercase;
    color: #f7f6f7;
    position: relative; top: -75px;
    font-size: 45px;
    text-shadow: 3px 3px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 180px;
  }

  #localPitch {
    box-sizing: border-box;
    width: 70%;
    text-indent: 10px;
    text-align: justify;
    letter-spacing: 2px;
    font-size: 21px;
    padding: 30px 90px 75px 90px;
    margin-left: 70px;
    margin-right: 70px; 
    border: 3px solid #1f1e1d;
    background-color: #f7f6f7;
    border-radius: 10px;
    opacity: 0.7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-shadow: 1px 1px black;
    position: relative; left: 130px;
    margin-bottom: 300px;
  }

  .map {
    background-image: url(images/abstract-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    padding-top: 100px;
  }

  .contactInfo {
    background-image: url(images/Blue-Background.jpg); 
    background-size: cover;
    background-repeat: no-repeat; 
     }

  .contactTitle {
    text-align: center;
    text-transform: uppercase;
    color: white;
    position: relative; top: -75px;
    font-size: 50px;
    text-shadow: 3px 3px rgb(1, 7, 104);
    font-family: oswald;
    margin-top: 120px;
    letter-spacing: 2px;
  }

  #paintBorder2 {
    position: relative; top: -130px;
  }

  #paintBorder3 {
    position: relative; top: -710px;
  }

  .contactForm {
    background-color: #ffffff;
    width: 100%;
    height: 520px;
    margin-bottom: 100px;
    position: relative; 
  }

  #fullName {
    padding: 20px;
    font-size: 20px;
    background-color: #f7f6f7;
    border: #f7f6f7;
    position: relative; top: 30px; left: 495px;
    
  }

  #phone {
    font-size: 20px;
    padding: 20px;
    background-color: #f7f6f7;
    border: #f7f6f7;
    position: relative; top: 30px; left: 505px;
  }

  #email {
    font-size: 20px;
    padding: 20px;
    background-color: #f7f6f7;
    border: #f7f6f7;
    position: relative; top: 120px; left: -5px;
    border: #f7f6f7;
  }

  #subject {
    font-size: 20px;
    padding: 20px;
    background-color: #f7f6f7;
    border: #f7f6f7;
    position: relative; top: 120px; left: 5px;
  }

  #message {
    position: relative; top: 150px; left: 500px;
    background-color: #f7f6f7;
    border: #060606;
    height: 150px;
    width: 475px;
    font-size: 20px;
    padding: 20px;
  }

  #submit {
    background-color: #0585cf;
    position: relative; top: 220px; left: 150px;
    color: black;
    padding: 12px 20px;
    height: 55px;
    width: 150px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    font-family: poppins; 
    font-weight: 500;
    letter-spacing: 1px;
  }

  #submit:hover {
    background-color: #17181f;
    color: white;
  }

  #submit:active {
    background-color: #17181f;
    box-shadow: 0 5px #0185cf;
    transform: translateY(4px);
  }