* {
    padding: 0;
    margin: 0;
  }
  
  #navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowarp;
    align-content: normal;
        justify-content: flex-end;
        align-items: normal;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        background-color: #d9d9d9;
  }

  nav a {
    display: block;
      font-size: 1rem;
      padding: 1rem;
  }

  nav ul {
    display: flex;
    list-style: none;
  }

  nav li {
    padding-left: 1rem;
  }

  #intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    border: 1px solid gray;
  padding: 8px;
  }

  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
  }

  p {
    text-indent: 50px;
  text-align: justify;
  letter-spacing: 2px;
  font-size: 20px;
  padding: 80px;
  }

  #photos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    border: 1px solid gray;
  padding: 8px;
  }

  #outro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    border: 1px solid gray;
  padding: 8px;
  }